<launch>
    <!-- If you want to generate a ROS bag with the recorded simulated data, set this flag to true -->
    <arg name="record" default="false"/>

    <!-- Start the a underwater world simulation scenario -->    
    <include file="$(find uuv_gazebo_worlds)/launch/ocean_waves_px4.launch"/>

    <include file="$(find uuv_descriptions)/launch/upload_multi_rexrov_default.launch"> </include>

    <!-- Start the rexrov controller -->
    <include file="$(find uuv_tutorial_dp_controller)/launch/start_tutorial_dp_controller.launch">
        <arg name="uuv_name" value="rexrov"/>
        <arg name="model_name" value="rexrov"/>
    </include>

    <!-- Start the rexrov2 controller -->
    <include file="$(find uuv_tutorial_dp_controller)/launch/start_tutorial_dp_controller.launch">
        <arg name="uuv_name" value="rexrov2"/>
        <arg name="model_name" value="rexrov2"/>
    </include>

    <!-- Start the rexrov3 controller -->
    <include file="$(find uuv_tutorial_dp_controller)/launch/start_tutorial_dp_controller.launch">
        <arg name="uuv_name" value="rexrov3"/>
        <arg name="model_name" value="rexrov3"/>
    </include>

    <!-- Start the recording node  -->
    <include file="$(find uuv_gazebo)/launch/controller_demos/record_demo.launch">
      <arg name="record" value="$(arg record)"/>
    </include>

    <!-- Open RViz for visualization of sensor data and visualization markers -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find uuv_gazebo)/rviz/controller_demo.rviz"/>


    <!--
    You can run this demo as

    >> roslaunch uuv_tutorial_dp_controller start_tutorial_dp_controller_demo.launch

    and you can then send some waypoints to the vehicle to see it working

    >> roslaunch uuv_control_utils send_waypoints_file.launch uuv_name:=rexrov
    -->
</launch>
